#
# arch/arm/mach-ambarella/Kconfig
#
# History:
#	2006/12/18 - [Charles Chiou] created file
#
# Copyright (C) 2004-2009, Ambarella, Inc.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307 USA
#

if PLAT_AMBARELLA

comment "Ambarella Board"

config MACH_AMBARELLA
	bool "Generic"
	default y
	select HAVE_PWM
	help
	  Say Y here if you can't find suitable Board Name.

config MACH_COCONUT
	bool "Coconut"
	depends on PLAT_AMBARELLA_A5S
	default n
	help
	  Say Y here if you are using A5S Coconut.

config MACH_DURIAN
	bool "Durian"
	depends on PLAT_AMBARELLA_A5S
	default n
	help
	  Say Y here if you are using A5S Durian.

config MACH_ELEPHANT
	bool "Elephant"
	depends on PLAT_AMBARELLA_I1
	default n
	help
	  Say Y here if you are using iOne Elephant.

config MACH_FILBERT
	bool "Filbert"
	depends on PLAT_AMBARELLA_A7
	default n
	help
	  Say Y here if you are using A7 Filbert.

menu "Misc Configuration"

config MMC_AMBARELLA_SDIO
	bool "Suport SDIO"
	depends on MACH_AMBARELLA
	select WEXT_CORE
	select WEXT_PROC
	select WEXT_SPY
	select WEXT_PRIV
	select WIRELESS_EXT
	default y
	help
	  If enabled, SDIO interface will be reported as "ambarella-sd",
	  so MMC/SD driver will support it automatically.
	  If disabled, you can provide your driver for "ambarella-sdio".

	  If you are not sure, say Y here.

endmenu

endif

