/*
 * Copyright (C) 2014 Freescale Semiconductor, Inc.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include "imx6sx.dtsi"

/ {
	model = "Freescale i.MX6 SoloX SG base Board";
	compatible = "fsl,imx6sx-sg", "fsl,imx6sx";

	aliases {

    };

	chosen {
		stdout-path = &uart1;
		//stdout-path = &mxcfb1;
	};

	memory {
		linux,usable-memory = <0x80000000 0x1ff00000>;
	};

	lcd-control {
		compatible = "gpio-leds";
		lcd_standby_iso {
			gpios = <&gpio1 22 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};
		/*
		lcd_reset {
			gpios = <&gpio2 8 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};
		*/
	};
	/*
	lcd_reset: gpio-reset {
		compatible = "gpio-reset";
		reset-gpios = <&gpio2 8 GPIO_ACTIVE_LOW>;
		reset-delay-us = <50>;
		initially-in-reset;
		#reset-cells = <0>;
	};
	*/

	backlight0 {
		compatible = "pwm-backlight";
		pwms = <&pwm3 0 50000>;
		brightness-levels = <0 4 8 16 32 64 128 255>;
		default-brightness-level = <6>;
		power-supply = <&reg_backlight_pwr>;
		//enable-gpios = <&gpio1 5 1>;
		status = "okay";
	};

	pxp_v4l2_out {
		compatible = "fsl,imx6sx-pxp-v4l2", "fsl,imx6sl-pxp-v4l2";
		status = "okay";
	};

	regulators {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		reg_usb_otg1_vbus: usb_otg1_vbus {
			compatible = "regulator-fixed";
			reg = <1>;
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_usb_otg1_vbus>;
			regulator-name = "usb_otg1_vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio4 18 GPIO_ACTIVE_HIGH>;
			enable-active-high;
		};
//this is a GPIO type regulator for PWM, but for sentience gateway we don't have a GPIO to enable disable backlight
/*
		reg_lcd_pwr: regulator@4 {
			compatible = "regulator-gpio";
			reg = <4>;
			regulator-name = "lcd-pwr";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-boot-on;
			enable-gpio = <&gpio2 6 0>;
			states = <3300000 0x1
						3300000 0x0>;
			enable-active-high;
			status = "okay";
		};
*/
		reg_backlight_pwr: regulator@4 {
			compatible = "regulator-fixed";
			reg = <4>;
			regulator-name = "backlight-pwr";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
		};

		reg_psu_5v: regulator@3 {
			compatible = "regulator-fixed";
			reg = <3>;
			regulator-name = "PSU-5V0";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
		};

		reg_vref_3v3: regulator@7 {
			compatible = "regulator-fixed";
			reg = <7>;
			regulator-name = "vref-3v3";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
		};

		reg_can_en: regulator@9 {
			compatible = "regulator-fixed";
			reg = <9>;
			regulator-name = "can-en";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
		};

		reg_can_stby: regulator@10 {
			compatible = "regulator-fixed";
			reg = <10>;
			regulator-name = "can-stby";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
		};
	};

	sound {
		compatible = "fsl,imx-audio-nau8822";
		model = "nau8822-audio";
		ssi-controller = <&ssi2>;
		audio-codec = <&codec>;
		audio-routing =
			"Mic Bias", "AMIC";
		mux-int-port = <2>;
		mux-ext-port = <3>;
	};
};

&gpmi {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_gpmi_nand>;
	status = "disabled";
	partition@0 {
	label = "uboot";
	reg = <0 0x800000>;
	};
	partition@0x800000 {
		label = "env";
		reg = <0x800000 0x400000>;
	};
	partition@0xc00000 {
	label = "system";
	reg = <0xc00000 0x2000000>;
	};
	partition@0x1c00000 {
	label = "rootfs";
	reg = <0x2c00000 0x3d400000>;
	};
};

&adc1 {
	vref-supply = <&reg_vref_3v3>;
	status = "okay";
};

&adc2 {
	vref-supply = <&reg_vref_3v3>;
	status = "okay";
};

&fec1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_enet1_1>;
	phy-mode = "rmii";
	phy-handle = <&ethphy1>;
	phy-reset-gpios = <&gpio2 4 1>;
	phy-reset-duration =<20>;
   	local-mac-address = [00 04 9F 01 1B 58];
	status = "okay";

	mdio {
		#address-cells = <1>;
		#size-cells = <0>;

		ethphy1: ethernet-phy@1 {
			compatible = "ethernet-phy-ieee802.3-c22";
			reg = <1>;
		};

	};


};

&fec2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_enet2_1>;
	phy-mode = "rmii";
	phy-handle = <&ethphy2>;
	phy-reset-gpios = <&gpio2 8 1>;
	phy-reset-duration =<20>;
   	local-mac-address = [00 04 9F 01 1B 68];
	status = "okay";

	mdio {
		#address-cells = <1>;
		#size-cells = <0>;


		ethphy2: ethernet-phy@2 {
			compatible = "ethernet-phy-ieee802.3-c22";
			reg = <2>;
		};


	};

};

&lcdif2 {
	//pinctrl-names = "default";
	//pinctrl-0 = <&pinctrl_lcd>;
	display = <&display1>;
	disp-dev = "ldb";
	status = "okay";
	display1: display {
		bits-per-pixel = <32>;
		bus-width = <24>;
	};
};
&ldb {
    status = "okay";
	lvds-channel@0 {
		fsl,data-mapping = "spwg";//"jeida";
		fsl,data-width = <24>;
		crtc = "lcdif2";
		status = "okay";
		display-timings {
			native-mode = <&timing1>;
			timing1: timing1 {
				clock-frequency = <51200000>;
				hactive = <1024>;
				vactive = <600>;
				hback-porch = <100>;
				hfront-porch = <100>;
				hsync-len = <120>;
				vback-porch = <10>;
				vfront-porch = <10>;
				vsync-len = <15>;
				//de-active = <1>;
			};
		};
	};
};

&csi2 {
	status = "okay";
	port {
		csi2_ep: endpoint {
			remote-endpoint = <&vadc_ep>;
		};
	};
};

&dcic1 {
	dcic_id = <0>;
	dcic_mux = "dcic-lcdif1";
	status = "okay";
};

&dcic2 {
	dcic_id = <1>;
	dcic_mux = "dcic-lvds";
	status = "okay";
};

&i2c1 {
	clock-frequency = <100000>;
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_i2c1>;
        status = "okay";
	m41t11: m41t11@68 {
		compatible = "st,m41t11";
		reg = <0x68>;
            	status = "okay";
	};

	tca6416: tca6416@21 {
		compatible = "ti,tca6416";
		reg = <0x21>;
		#gpio-cells = <2>;
		gpio-controller;
	};

	tca6416siren: tca6416@20 {
		compatible = "ti,tca6416";
		reg = <0x20>;
		#gpio-cells = <2>;
		gpio-controller;
	};

	codec: nau8822@1a {
		compatible = "wlf,nau8822";
		reg = <0x1a>;
		clocks = <&clks IMX6SX_CLK_AUDIO>;
	};
};

&csi1 {
        status = "okay";

        port {
                csi1_ep: endpoint {
                        remote-endpoint = <&hi253_ep>;
                };
        };
};

&i2c2 {
	clock-frequency = <100000>;
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_i2c2>;
	status = "okay";

	at24@52 {
		compatible = "at24,24c32";
		pagesize = <32>;
		reg = <0x52>;
	};

	tca6416power: tca6416@20 {
		compatible = "ti,tca6416";
		reg = <0x20>;
		#gpio-cells = <2>;
		gpio-controller;
	};

	ATECC508A: ATECC508A@60 {
		compatible = "ATECC508A";
		reg = <0x60>;
	};

	MFI337S3959: MFI337S3959@11 {
		compatible = "MFI337S3959";
		reg = <0x11>;
	};

	/*Hi253@20 {
		compatible = "Hi253,Hi253";
		reg = <0x20>;
		pinctrl-names = "default";
                pinctrl-0 = <&pinctrl_csi_0>;
                clocks = <&clks IMX6SX_CLK_CSI>;
                clock-names = "csi_mclk";
                pwn-gpios = <&gpio3 18 1>;
                rst-gpios = <&gpio3 17 0>;

                cam18v-en-gpios = <&gpio3 3 0>;
                cam28v-en-gpios = <&gpio3 4 0>;

                csi_id = <0>;
                mclk = <19000000>;
                mclk_source = <0>;
                port {
                        hi253_ep: endpoint {
                                remote-endpoint = <&csi1_ep>;
                        };
                };
	};*/

};

&i2c3 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c3>;
	status = "okay";

	/*tca6416: tca6416@20 {
		compatible = "ti,tca6416";
		reg = <0x20>;
		#gpio-cells = <2>;
		gpio-controller;
	};

	codec: nau8822@1a {
		compatible = "wlf,nau8822";
		reg = <0x1a>;
		clocks = <&clks IMX6SX_CLK_AUDIO>;
	};*/

    pixcir_ts@58 {
        compatible = "pixcir,pixcir_tangoc";//"pixcir,tangoc_ts";
        reg = <0x58>;
        interrupt-parent = <&gpio1>;
        interrupts = <15 2>;
        //reset is done by code in pwm_bl.c //gpio_rst = <&gpio5 0 0>;
		attb-gpio = <&gpio1 15 0>;//old kernel name: gpio_attb = <&gpio5 6 0>;
		//no need: gpio_lcd_id = <&gpio4 28 0>;
		touchscreen-size-x = <1024>;
		touchscreen-size-y = <600>;
    };
};

&i2c4 {
    status = "okay";
    clock-frequency = <100000>;
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_i2c4>;

    /*pixcir_ts@58 {
        compatible = "pixcir,pixcir_tangoc";//"pixcir,tangoc_ts";
        reg = <0x58>;
        interrupt-parent = <&gpio5>;
        interrupts = <6 2>;
        //reset is done by code in pwm_bl.c //gpio_rst = <&gpio5 0 0>;
		attb-gpio = <&gpio5 6 0>;//old kernel name: gpio_attb = <&gpio5 6 0>;
		//no need: gpio_lcd_id = <&gpio4 28 0>;
		touchscreen-size-x = <1024>;
		touchscreen-size-y = <600>;
    };*/

	Hi253@20 {
		compatible = "Hi253,Hi253";
		reg = <0x20>;
		pinctrl-names = "default";
                pinctrl-0 = <&pinctrl_csi_0>;
                clocks = <&clks IMX6SX_CLK_CSI>;
                clock-names = "csi_mclk";
                pwn-gpios = <&gpio3 18 1>;
                rst-gpios = <&gpio3 17 0>;

                //cam18v-en-gpios = <&gpio3 3 0>;
                //cam28v-en-gpios = <&gpio3 4 0>;
				cam18v-en-gpios = <&tca6416power 2 0>;
                cam28v-en-gpios = <&tca6416power 3 0>;

                csi_id = <0>;
                mclk = <24000000>;
                mclk_source = <0>;
                port {
                        hi253_ep: endpoint {
                                remote-endpoint = <&csi1_ep>;
                        };
                };
	};
};

&ocram {
	reg = <0x00901000 0xf000>;
};

&qspi2 {
	status = "disabled";
};

&qspi_m4 {
	status = "okay";
};

&rpmsg{
	status = "okay";
};

&clks {
	fsl,shared-clks-number = <0x23>;//<0x1A>;
	fsl,shared-clks-index = <IMX6SX_CLK_PLL2_BUS IMX6SX_CLK_PLL2_PFD0
			IMX6SX_CLK_PLL2_PFD2 IMX6SX_CLK_PLL3_USB_OTG
			IMX6SX_CLK_PLL3_PFD1 IMX6SX_CLK_PLL3_PFD2
			IMX6SX_CLK_PLL3_PFD3 IMX6SX_CLK_PLL4_AUDIO
			IMX6SX_CLK_PLL5_VIDEO
			IMX6SX_CLK_OCRAM IMX6SX_CLK_CAN1_SERIAL
			IMX6SX_CLK_CAN1_IPG IMX6SX_CLK_CAN2_SERIAL
			IMX6SX_CLK_CAN2_IPG IMX6SX_CLK_CANFD
			IMX6SX_CLK_ECSPI1 IMX6SX_CLK_ECSPI2
			IMX6SX_CLK_ECSPI3 IMX6SX_CLK_ECSPI4
			IMX6SX_CLK_ECSPI5 IMX6SX_CLK_QSPI1
			IMX6SX_CLK_QSPI2 IMX6SX_CLK_SSI1
			IMX6SX_CLK_SSI2 IMX6SX_CLK_SSI3
			IMX6SX_CLK_UART_SERIAL IMX6SX_CLK_UART_IPG
			IMX6SX_CLK_PERIPH_CLK2_SEL IMX6SX_CLK_DUMMY
			IMX6SX_CLK_I2C1 IMX6SX_CLK_I2C2
			IMX6SX_CLK_I2C3 IMX6SX_CLK_I2C4
			IMX6SX_CLK_EPIT1 IMX6SX_CLK_EPIT2>;
	fsl,shared-mem-addr = <0x91F000>;
	fsl,shared-mem-size = <0x1000>;
};

&pwm3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm3_0>;
	status = "okay";
};

&pwm4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm4_0>;
	status = "okay";
};


&pxp {
    status = "okay";
};

&snvs{
	status = "okay";
};


&ssi2 {
	fsl,mode = "i2s-slave";
	status = "okay";
};

&audmux {
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_audmux>;
    status = "okay";
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>;
	status = "okay";
};

&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart2>;
	status = "okay";
};

&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart3>;
	status = "okay";
};

&uart4 {
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_uart4>;
	fsl,uart-has-rtscts;
        status = "okay";
	//status = "disabled";
};

&uart5 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart5>;
	status = "okay";
};

&uart6 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart6>;
	//fsl,uart-has-rtscts;
	status = "okay";
};

//PORT5(PORT6)
&ecspi1 {
	fsl,spi-num-chipselects = <1>;
	//cs-gpios = <&gpio2 16 1>; no need to configure here, we set SS as GPIO in pinctrl_ecspi1
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi1>;
	status = "okay";
	spidev@0 {
		compatible = "rohm,dh2228fv";
		spi-max-frequency = <20000000>;
		reg = <0>;
		dmas = <&sdma 3 7 1>, <&sdma 4 7 2>;
		dma-names = "rx", "tx";
	};
};

&ecspi3 {
	fsl,spi-num-chipselects = <1>;
	//cs-gpios = <&gpio2 16 1>; no need to configure here, we set SS as GPIO in pinctrl_ecspi1
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi3>;
	status = "okay";
	spidev@0 {
		compatible = "rohm,dh2228fv";
		spi-max-frequency = <20000000>;
		reg = <0>;
		dmas = <&sdma 7 7 1>, <&sdma 8 7 2>;
		dma-names = "rx", "tx";
	};
};

//PORT3(PORT7)
&ecspi5 {
	fsl,spi-num-chipselects = <1>;
	/*cs-gpios = <&gpio4 28 0>;*/
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi5>;
	status = "okay";
	spidev@0 {
		compatible = "rohm,dh2228fv";
		spi-max-frequency = <20000000>;
		reg = <0>;
		dmas = <&sdma 11 7 1>, <&sdma 12 7 2>;
		dma-names = "rx", "tx";
	};
};

&usbotg1 {
	vbus-supply = <&reg_usb_otg1_vbus>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usb_otg1_id>;
	//disable-over-current;
	srp-disable;
	hnp-disable;
	adp-disable;
	status = "okay";
};

&usdhc1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc1>;
	non-removable;
	no-1-8-v;
	keep-power-in-suspend;
	enable-sdio-wakeup;
	status = "okay";
};

/*&usdhc4 {
	pinctrl-names = "default";//, "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc4_1>;
	//pinctrl-1 = <&pinctrl_usdhc4_1_100mhz>;
	//pinctrl-2 = <&pinctrl_usdhc4_1_200mhz>;
	bus-width = <8>;
	/*
	 * overwrite cd-gpios and wp-gpios since they are reused as eMMC DATA
	 * signals after rework
	 */
	/*cd-gpios = <>;
	wp-gpios = <>;
	no-1-8-v;
	non-removable;
	status = "disabled";
};*/
&usdhc4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc4_1>;
	bus-width = <8>;
	non-removable;
	no-1-8-v;
	keep-power-in-suspend;
	enable-sdio-wakeup;
	status = "okay";
};
&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hog_1>;
	imx6x-sg {
		pinctrl_hog_1: hoggrp-1 {
			fsl,pins = <
				MX6SX_PAD_USB_H_DATA__GPIO7_IO_10	0x83030
			>;
		};

		pinctrl_enet1_1: enet1grp-1 {
			fsl,pins = <
				MX6SX_PAD_ENET2_COL__ENET1_MDC        	0xa089
				MX6SX_PAD_ENET2_CRS__ENET1_MDIO        	0xa089
				MX6SX_PAD_RGMII1_RX_CTL__ENET1_RX_EN   	0xb099
				MX6SX_PAD_RGMII1_RD0__ENET1_RX_DATA_0   0xb099
				MX6SX_PAD_RGMII1_RD1__ENET1_RX_DATA_1   0xb099
				MX6SX_PAD_RGMII1_RXC__ENET1_RX_ER 	0xb099
				MX6SX_PAD_RGMII1_TX_CTL__ENET1_TX_EN	0xb099
				MX6SX_PAD_RGMII1_TD0__ENET1_TX_DATA_0   0xb099
				MX6SX_PAD_RGMII1_TD1__ENET1_TX_DATA_1   0xb099
				MX6SX_PAD_ENET1_RX_CLK__GPIO2_IO_4 	0xb099
				MX6SX_PAD_ENET1_TX_CLK__ENET1_REF_CLK1  0x4000b099

			>;
		};


		pinctrl_enet2_1: enet2grp-1{
			fsl,pins = <
				MX6SX_PAD_ENET1_MDIO__ENET2_MDIO        0xa089
				MX6SX_PAD_ENET1_MDC__ENET2_MDC          0xa089
				MX6SX_PAD_RGMII2_RX_CTL__ENET2_RX_EN    0xb099
				MX6SX_PAD_RGMII2_RD0__ENET2_RX_DATA_0   0xb099
				MX6SX_PAD_RGMII2_RD1__ENET2_RX_DATA_1   0xb099
                		MX6SX_PAD_RGMII2_RXC__ENET2_RX_ER       0xb099
				MX6SX_PAD_RGMII2_TX_CTL__ENET2_TX_EN    0xb099
				MX6SX_PAD_RGMII2_TD0__ENET2_TX_DATA_0   0xb099
				MX6SX_PAD_RGMII2_TD1__ENET2_TX_DATA_1   0xb099
				MX6SX_PAD_ENET2_RX_CLK__GPIO2_IO_8       0xb099
				MX6SX_PAD_ENET2_TX_CLK__ENET2_REF_CLK2	0x4000b099
                >;
		};


                pinctrl_csi_0: csigrp-0 {
                        fsl,pins = <
                                MX6SX_PAD_LCD1_DATA07__CSI1_MCLK        0x110b0
                                MX6SX_PAD_LCD1_DATA06__CSI1_PIXCLK      0x110b9
                                MX6SX_PAD_LCD1_DATA04__CSI1_VSYNC       0x110b0
                                MX6SX_PAD_LCD1_DATA05__CSI1_HSYNC       0x110b0
                                //MX6SX_PAD_LCD1_DATA17__CSI1_DATA_0      0x110b0
                                //MX6SX_PAD_LCD1_DATA16__CSI1_DATA_1      0x110b0
                                MX6SX_PAD_LCD1_DATA15__CSI1_DATA_2      0x110b0
                                MX6SX_PAD_LCD1_DATA14__CSI1_DATA_3      0x110b0
                                MX6SX_PAD_LCD1_DATA13__CSI1_DATA_4      0x110b0
                                MX6SX_PAD_LCD1_DATA12__CSI1_DATA_5      0x110b0
                                MX6SX_PAD_LCD1_DATA11__CSI1_DATA_6      0x110b0
                                MX6SX_PAD_LCD1_DATA10__CSI1_DATA_7      0x110b0
                                MX6SX_PAD_LCD1_DATA09__CSI1_DATA_8      0x110b0
                                MX6SX_PAD_LCD1_DATA08__CSI1_DATA_9      0x110b0

                                //MX6SX_PAD_LCD1_RESET__GPIO3_IO_27       0x80000000
                                //MX6SX_PAD_LCD1_VSYNC__GPIO3_IO_28       0x80000000

				//MX6SX_PAD_LCD1_DATA03__GPIO3_IO_4 0x80000000
				//MX6SX_PAD_LCD1_DATA02__GPIO3_IO_3 0x80000000

				MX6SX_PAD_LCD1_DATA16__GPIO3_IO_17 0x80000000
				MX6SX_PAD_LCD1_DATA17__GPIO3_IO_18  0x80000000
                        >;
                };


		pinctrl_gpmi_nand: gpmi-nand {
			fsl,pins = <
				MX6SX_PAD_NAND_CLE__RAWNAND_CLE         0xb0b1
				MX6SX_PAD_NAND_ALE__RAWNAND_ALE         0xb091
				MX6SX_PAD_NAND_WP_B__RAWNAND_WP_B       0xb0b1
				MX6SX_PAD_NAND_READY_B__RAWNAND_READY_B 0xb000
				MX6SX_PAD_NAND_CE0_B__RAWNAND_CE0_B     0xb0b1
				MX6SX_PAD_NAND_RE_B__RAWNAND_RE_B       0xb091
				MX6SX_PAD_NAND_WE_B__RAWNAND_WE_B       0xb091
				MX6SX_PAD_NAND_DATA00__RAWNAND_DATA00   0xb091
				MX6SX_PAD_NAND_DATA01__RAWNAND_DATA01   0xb091
				MX6SX_PAD_NAND_DATA02__RAWNAND_DATA02   0xb091
				MX6SX_PAD_NAND_DATA03__RAWNAND_DATA03   0xb091
				MX6SX_PAD_NAND_DATA04__RAWNAND_DATA04   0xb091
				MX6SX_PAD_NAND_DATA05__RAWNAND_DATA05   0xb091
				MX6SX_PAD_NAND_DATA06__RAWNAND_DATA06   0xb091
				MX6SX_PAD_NAND_DATA07__RAWNAND_DATA07   0xb091
			>;
		};

		pinctrl_i2c1: i2c1grp {
			fsl,pins = <
				MX6SX_PAD_GPIO1_IO01__I2C1_SDA		0x4001b8b1
				MX6SX_PAD_GPIO1_IO00__I2C1_SCL		0x4001b8b1
			>;
		};

		pinctrl_i2c2: i2c2grp {
			fsl,pins = <
				MX6SX_PAD_QSPI1B_DATA2__I2C2_SDA 0x4001b8b1
				MX6SX_PAD_QSPI1B_DATA3__I2C2_SCL  0x4001b8b1
			>;
		};

		pinctrl_i2c3: i2c3grp {
			fsl,pins = <
				MX6SX_PAD_KEY_ROW4__I2C3_SDA 0x4001b8b1
				MX6SX_PAD_KEY_COL4__I2C3_SCL 0x4001b8b1
			>;
		};

		pinctrl_i2c4: i2c4grp {
			fsl,pins = <
				MX6SX_PAD_SD3_DATA0__I2C4_SCL		0x4001b8b1
				MX6SX_PAD_SD3_DATA1__I2C4_SDA		0x4001b8b1
			>;
		};

		pinctrl_lcd: lcdgrp {
			fsl,pins = <
				//MX6SX_PAD_RGMII1_RXC__GPIO5_IO_5		0x80000000
				//MX6SX_PAD_ENET1_RX_CLK__GPIO2_IO_4       0xb099
				//MX6SX_PAD_ENET2_COL__GPIO2_IO_6			0x80000000
			>;
		};

		pinctrl_mqs: mqsgrp {
			fsl,pins = <
				MX6SX_PAD_SD2_CLK__MQS_RIGHT 0x120b0
				MX6SX_PAD_SD2_CMD__MQS_LEFT  0x120b0
			>;
		};

		pinctrl_pcie: pciegrp {
			fsl,pins = <
				/*MX6SX_PAD_RGMII2_RD2__GPIO5_IO_14 0x10b0
				MX6SX_PAD_RGMII1_RXC__GPIO5_IO_5 0x10b0
				MX6SX_PAD_LCD1_DATA20__GPIO3_IO_21 0x10b0
				MX6SX_PAD_RGMII2_TD2__GPIO5_IO_20 0x10b0
				MX6SX_PAD_RGMII1_TX_CTL__GPIO5_IO_10 0x10b0  */

				MX6SX_PAD_LCD1_DATA23__GPIO3_IO_24    0x10b0
				MX6SX_PAD_NAND_CE1_B__GPIO4_IO_2   0x10b0
				MX6SX_PAD_LCD1_DATA22__GPIO3_IO_23    0x10b0

			>;
		};

		pinctrl_pcie_reg: pciereggrp {
			fsl,pins = <
				/*MX6SX_PAD_RGMII2_TD2__GPIO5_IO_20	0x10b0*/
				MX6SX_PAD_LCD1_DATA23__GPIO3_IO_24    0x10b0
			>;
		};

		pinctrl_peri_3v3: peri3v3grp {
			fsl,pins = <
				MX6SX_PAD_QSPI1A_DATA0__GPIO4_IO_16	0x80000000
			>;
		};

		pinctrl_pwm3_0: pwm3grp-0 {
			fsl,pins = <
				MX6SX_PAD_GPIO1_IO12__PWM3_OUT 0x1b0b1	//old: 0x110b0
			>;
		};

		pinctrl_pwm4_0: pwm4grp-0 {
			fsl,pins = <
				MX6SX_PAD_GPIO1_IO13__PWM4_OUT 0x1b0b1	//old: 0x110b0
			>;
		};


		pinctrl_uart1: uart1grp {// uart1 is used by A9 console
			fsl,pins = <
				MX6SX_PAD_GPIO1_IO04__UART1_TX		0x1b0b1
				MX6SX_PAD_GPIO1_IO05__UART1_RX		0x1b0b1
			>;
		};

		pinctrl_uart2: uart2grp {// J7 for modbus 485
			fsl,pins = <
				MX6SX_PAD_GPIO1_IO06__UART2_TX		0x1b0b1
				MX6SX_PAD_GPIO1_IO07__UART2_RX		0x1b0b1
			>;
		};

		pinctrl_uart3: uart3grp {// J7 for modbus 485
			fsl,pins = <
				MX6SX_PAD_SD3_DATA5__UART3_TX		0x1b0b1
				MX6SX_PAD_SD3_DATA4__UART3_RX		0x1b0b1
			>;
		};

		//PORT5,/dev/ttymxc3,test 485
		pinctrl_uart4: uart4grp {
			fsl,pins = <
				MX6SX_PAD_SD3_CMD__UART4_TX		0x1b0b1
				MX6SX_PAD_SD3_DATA3__UART4_RX		0x1b0b1
				MX6SX_PAD_SD3_CLK__UART4_CTS_B          0x1b0b1
				MX6SX_PAD_SD3_DATA2__UART4_RTS_B        0x1b0b1
			>;
		};

		pinctrl_uart5: uart5grp {// uart5 is used by M4 console
			fsl,pins = <
				MX6SX_PAD_KEY_COL3__UART5_TX		0x1b0b1
				MX6SX_PAD_KEY_ROW3__UART5_RX		0x1b0b1
			>;
		};

		pinctrl_uart6: uart6grp {// uart6 is for x4 485
			fsl,pins = <
				MX6SX_PAD_CSI_DATA05__UART6_TX		0x1b0b1
				MX6SX_PAD_CSI_DATA04__UART6_RX		0x1b0b1
				//MX6SX_PAD_CSI_DATA06__UART6_RTS_B       0x1b0b1
				//MX6SX_PAD_CSI_DATA07__UART6_CTS_B       0x1b0b1
			>;
		};

		pinctrl_ecspi1: ecspi1grp {
			fsl,pins = <
				/*MX6SX_PAD_KEY_ROW0__ECSPI1_MOSI			0x1b089//QSPI1A_DATA0
				MX6SX_PAD_KEY_COL1__ECSPI1_MISO			0x1b0b9//QSPI1A_DATA1
				MX6SX_PAD_KEY_COL0__ECSPI1_SCLK			0x1b089//QSPI1A_SCLK
				MX6SX_PAD_KEY_ROW1__ECSPI1_SS0			0x0b089//QSPI1A_SS0_B*/
				MX6SX_PAD_QSPI1A_DATA0__ECSPI1_MOSI			0x1b0b9
				MX6SX_PAD_QSPI1A_DATA1__ECSPI1_MISO			0x1b0b9
				MX6SX_PAD_QSPI1A_SCLK__ECSPI1_SCLK			0x1b0b9
				MX6SX_PAD_QSPI1A_SS0_B__ECSPI1_SS0			0x0b0b9
			>;
		};

		pinctrl_ecspi3: ecspi3grp {
			fsl,pins = <
				MX6SX_PAD_QSPI1B_DATA0__ECSPI3_MOSI	0x1b0b9
				MX6SX_PAD_QSPI1B_DATA1__ECSPI3_MISO	0x1b0b9
				MX6SX_PAD_QSPI1B_SCLK__ECSPI3_SCLK     0x1b0b9
				MX6SX_PAD_QSPI1B_SS0_B__ECSPI3_SS0      0x0b0b9
			>;
		};

		pinctrl_ecspi5: ecspi5grp {
			fsl,pins = <
				MX6SX_PAD_QSPI1A_DQS__ECSPI5_MOSI	0x1b0b9//QSPI1A_DQS
				MX6SX_PAD_QSPI1A_SS1_B__ECSPI5_MISO	0x1b0b9//QSPI1A_SS1_B
				MX6SX_PAD_QSPI1B_SS1_B__ECSPI5_SCLK     0x1b0b9//QSPI1B_SS1_B
				MX6SX_PAD_QSPI1B_DQS__ECSPI5_SS0      	0x0b0b9//QSPI1B_DQS
			>;
		};

		pinctrl_audmux: audmuxgrp {
			fsl,pins = <
				/*MX6SX_PAD_CSI_DATA00__AUDMUX_AUD6_TXC	0x130b0
				MX6SX_PAD_CSI_DATA01__AUDMUX_AUD6_TXFS	0x130b0
				MX6SX_PAD_CSI_HSYNC__AUDMUX_AUD6_TXD	0x120b0
				MX6SX_PAD_CSI_VSYNC__AUDMUX_AUD6_RXD	0x130b0
				MX6SX_PAD_CSI_PIXCLK__AUDMUX_MCLK	0x130b0*/

				MX6SX_PAD_LCD1_RESET__AUDMUX_AUD3_RXD    0x130b0
				MX6SX_PAD_LCD1_ENABLE__AUDMUX_AUD3_TXC   0x130b0
				MX6SX_PAD_LCD1_HSYNC__AUDMUX_AUD3_TXD    0x120b0
				MX6SX_PAD_LCD1_VSYNC__AUDMUX_AUD3_TXFS   0x130b0
				MX6SX_PAD_CSI_PIXCLK__AUDMUX_MCLK        0x130b0
			>;
		};

		pinctrl_usb_otg1_vbus: usbotg1vbusgrp {
			fsl,pins = <
				MX6SX_PAD_QSPI1A_DATA2__GPIO4_IO_18     0x10b0
			>;
		};

		pinctrl_usb_otg1_id: usbotg1idgrp {
			fsl,pins = <
				MX6SX_PAD_GPIO1_IO10__ANATOP_OTG1_ID 	0x17059
				MX6SX_PAD_QSPI1A_DATA3__USB_OTG1_OC	0x17059
			>;
		};


		pinctrl_usdhc1: usdhc1grp {
			fsl,pins = <
				MX6SX_PAD_SD1_CMD__USDHC1_CMD		0x17059
				MX6SX_PAD_SD1_CLK__USDHC1_CLK		0x100f9
				MX6SX_PAD_SD1_DATA0__USDHC1_DATA0	0x17059
				MX6SX_PAD_SD1_DATA1__USDHC1_DATA1	0x17059
				MX6SX_PAD_SD1_DATA2__USDHC1_DATA2	0x17059
				MX6SX_PAD_SD1_DATA3__USDHC1_DATA3	0x17059
			>;
		};

		pinctrl_usdhc4_1: usdhc4grp-1 {
			fsl,pins = <
				MX6SX_PAD_SD4_CMD__USDHC4_CMD		0x17059
				MX6SX_PAD_SD4_CLK__USDHC4_CLK		0x10059
				MX6SX_PAD_SD4_DATA0__USDHC4_DATA0	0x17059
				MX6SX_PAD_SD4_DATA1__USDHC4_DATA1	0x17059
				MX6SX_PAD_SD4_DATA2__USDHC4_DATA2	0x17059
				MX6SX_PAD_SD4_DATA3__USDHC4_DATA3	0x17059
				MX6SX_PAD_SD4_DATA4__USDHC4_DATA4	0x17059
				MX6SX_PAD_SD4_DATA5__USDHC4_DATA5	0x17059
				MX6SX_PAD_SD4_DATA6__USDHC4_DATA6	0x17059
				MX6SX_PAD_SD4_DATA7__USDHC4_DATA7	0x17059
				MX6SX_PAD_SD4_RESET_B__USDHC4_RESET_B	0x17059
			>;
		};

		pinctrl_usdhc4_1_100mhz: usdhc4grp-1-100mhz {
			fsl,pins = <
				MX6SX_PAD_SD4_CMD__USDHC4_CMD		0x170b9
				MX6SX_PAD_SD4_CLK__USDHC4_CLK		0x100b9
				MX6SX_PAD_SD4_DATA0__USDHC4_DATA0	0x170b9
				MX6SX_PAD_SD4_DATA1__USDHC4_DATA1	0x170b9
				MX6SX_PAD_SD4_DATA2__USDHC4_DATA2	0x170b9
				MX6SX_PAD_SD4_DATA3__USDHC4_DATA3	0x170b9
				MX6SX_PAD_SD4_DATA4__USDHC4_DATA4	0x170b9
				MX6SX_PAD_SD4_DATA5__USDHC4_DATA5	0x170b9
				MX6SX_PAD_SD4_DATA6__USDHC4_DATA6	0x170b9
				MX6SX_PAD_SD4_DATA7__USDHC4_DATA7	0x170b9
			>;
		};

		pinctrl_usdhc4_1_200mhz: usdhc4grp-1-200mhz {
			fsl,pins = <
				MX6SX_PAD_SD4_CMD__USDHC4_CMD		0x170f9
				MX6SX_PAD_SD4_CLK__USDHC4_CLK		0x100f9
				MX6SX_PAD_SD4_DATA0__USDHC4_DATA0	0x170f9
				MX6SX_PAD_SD4_DATA1__USDHC4_DATA1	0x170f9
				MX6SX_PAD_SD4_DATA2__USDHC4_DATA2	0x170f9
				MX6SX_PAD_SD4_DATA3__USDHC4_DATA3	0x170f9
				MX6SX_PAD_SD4_DATA4__USDHC4_DATA4	0x170f9
				MX6SX_PAD_SD4_DATA5__USDHC4_DATA5	0x170f9
				MX6SX_PAD_SD4_DATA6__USDHC4_DATA6	0x170f9
				MX6SX_PAD_SD4_DATA7__USDHC4_DATA7	0x170f9
			>;
		};

	};
};

&vadc {
	vadc_in = <0>;
	csi_id = <1>;
	status = "okay";
	port {
		vadc_ep: endpoint {
			remote-endpoint = <&csi2_ep>;
		};
	};
};

&pcie {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pcie>;
	//reset-gpio = <&gpio3 21 0>;
	//power-on-gpio = <&gpio5 20 0>;
	//disable-gpio = <&gpio5 10 0>;
	reset-gpio = <&gpio3 23 0>;
	power-on-gpio = <&gpio3 24 0>;
	disable-gpio = <&gpio4 2 0>;
	//ext-gpio = <&gpio5 5 0>;
	status = "okay";
};
