// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright (C) 2021 Shrirang Bagul <shrirang.bagul@canonical.com>
 */

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/leds/common.h>
#include <dt-bindings/input/linux-event-codes.h>
#include <dt-bindings/sound/fsl-imx-audmux.h>
#include "imx6sx-x6med35-som.dtsi"

/ {
	model = "Honeywell i.MX6SX X6Med35 PDK";
	compatible = "Honeywell,x6med35-pdk", "fsl,imx6sx";

	aliases {
		rtc0 = &rtc;
		rtc1 = &snvs_rtc;
		watchdog0 = &rtc;
		watchdog1 = &wdog1;
	};

	beeper {
		compatible = "pwm-beeper";
		pwms = <&pwm4 0 1000000 0>;
	};

	chosen {
		stdout-path = &uart1;
	};

	gpio-keys {
		compatible = "gpio-keys";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpiokeys>;

		s1 {
			label = "s1";
			gpios = <&gpio1 11 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_ESC>;
			wakeup-source;
		};

		s2 {
			label = "s2";
			gpios = <&gpio4 12 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_SPACE>;
			wakeup-source;
		};
	};

	leds {
		compatible = "gpio-leds";

		dl1 {
			label = "yellow:dl1";
			gpios = <&led_expander 0 GPIO_ACTIVE_LOW>;
		};

		dl2 {
			label = "blue:dl2";
			gpios = <&led_expander 1 GPIO_ACTIVE_LOW>;
		};

		dl3 {
			label = "green:dl3";
			gpios = <&led_expander 2 GPIO_ACTIVE_LOW>;
		};

		dl4 {
			label = "green:dl4";
			gpios = <&led_expander 3 GPIO_ACTIVE_LOW>;
		};

		dl5 {
			label = "green:dl5";
			gpios = <&led_expander 4 GPIO_ACTIVE_LOW>;
		};

		dl6 {
			label = "green:dl6";
			gpios = <&led_expander 5 GPIO_ACTIVE_LOW>;
		};

		dl7 {
			label = "green:dl7";
			gpios = <&led_expander 6 GPIO_ACTIVE_LOW>;
		};

		dl8 {
			label = "green:dl8";
			gpios = <&led_expander 7 GPIO_ACTIVE_LOW>;
		};
	};

	reg_usb_otg1_vbus: regulator-usb-otg1-vbus {
		compatible = "regulator-fixed";
		pinctrl-0 = <&pinctrl_usb_vbus>;
		pinctrl-names = "default";
		regulator-name = "vbus_usb_pwr_5v";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		gpio = <&gpio4 18 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	reg_cam_1v8: regulator-cam-1v8 {
		compatible = "regulator-fixed";
		regulator-name = "cam_1v8";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		gpio = <&gpio_exp_20 14 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	reg_cam_2v8: regulator-cam-2v8 {
		compatible = "regulator-fixed";
		regulator-name = "cam_2v8";
		regulator-min-microvolt = <2800000>;
		regulator-max-microvolt = <2800000>;
		gpio = <&gpio_exp_20 15 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	reg_wf_1v8: regulator-wf-1v8 {
		compatible = "regulator-fixed";
		regulator-name = "wifi_io_power";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
	};

	reg_wifi_power: regulator-wifi-power {
		compatible = "regulator-fixed";
		regulator-name = "wifi_power";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		gpio = <&gpio2 10 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-always-on;
		startup-delay-us = <10000>;
		off-on-delay-us = <12000>;
	};

	reg_bt_power: regulator-bt-power {
		compatible = "regulator-fixed";
		regulator-name = "bt_power";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		gpio = <&gpio1 2 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-always-on;
		startup-delay-us = <10000>;
		off-on-delay-us = <12000>;
	};

	reg_v_3v3: regulator-v-3v3 {
		compatible = "regulator-fixed";
		regulator-name = "v_3v3";
		regulator-max-microvolt = <3300000>;
		regulator-min-microvolt = <3300000>;
		regulator-always-on;
	};

	reg_v_5v0: regulator-v-5v0 {
		compatible = "regulator-fixed";
		regulator-name = "v_5v0";
		regulator-max-microvolt = <5000000>;
		regulator-min-microvolt = <5000000>;
		regulator-always-on;
	};

	sound {
		compatible = "simple-audio-card";
		simple-audio-card,name = "x6med35-audio";
		simple-audio-card,format = "i2s";
		simple-audio-card,bitclock-master = <&sound_codec>;
		simple-audio-card,frame-master = <&sound_codec>;
		simple-audio-card,widgets =
						"Microphone", "AMIC",
						"Speaker", "Ext Spk";
		simple-audio-card,routing =
						"Ext Spk", "LSPK",
						"Ext Spk", "RSPK",
					    "RMICP", "AMIC",
					    "RMICN", "AMIC",
					    "AMIC", "Mic Bias";

		sound_cpu: simple-audio-card,cpu {
			sound-dai = <&ssi2>;
		};

		sound_codec: simple-audio-card,codec {
			sound-dai = <&codec>;
			clocks = <&clks IMX6SX_CLK_AUDIO>;
		};
	};
};

&adc1 {
	vref-supply = <&reg_v_3v3>;
	status = "okay";
};

&adc2 {
	vref-supply = <&reg_v_3v3>;
	status = "okay";
};

&anatop {
	status = "disabled";
};

&audmux {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_audmux>;
	status = "okay";

	ssi2 {
		fsl,audmux-port = <1>;
		fsl,port-config = <
			(IMX_AUDMUX_V2_PTCR_SYN |
			IMX_AUDMUX_V2_PTCR_TFSDIR |
			IMX_AUDMUX_V2_PTCR_TFSEL(2) |
			IMX_AUDMUX_V2_PTCR_TCLKDIR |
			IMX_AUDMUX_V2_PTCR_TCSEL(2))
			IMX_AUDMUX_V2_PDCR_RXDSEL(2)
		>;
	};

	aud3 {
		fsl,audmux-port = <2>;
		fsl,port-config = <
			IMX_AUDMUX_V2_PTCR_SYN
			IMX_AUDMUX_V2_PDCR_RXDSEL(1)
		>;
	};
};

&csi1 {
	compatible = "fsl,imx6s-csi";
	status = "okay";

	/delete-property/clock-names;
	clock-names = "disp-axi", "csi_mclk", "disp_dcic";

	port {
		csi1_ep: endpoint {
			remote-endpoint = <&ov5640_ep>;
		};
	};
};

&fec1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_enet1>;
	phy-mode = "rgmii-id";
	phy-handle = <&ethphy0>;
	phy-reset-gpios = <&gpio2 4 GPIO_ACTIVE_LOW>;
	phy-reset-duration = <20>;
	nvmem-cells = <&eth_mac1>;
	nvmem-cell-names = "mac-address";
	nvmem_macaddr_swap;
	status = "okay";

	mdio {
		#address-cells = <1>;
		#size-cells = <0>;

		ethphy0: ethernet-phy@1 {
			compatible = "ethernet-phy-ieee802.3-c22";
			reg = <1>;
			micrel,led-mode = <0>;
		};
	};
};

&fec2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_enet2>;
	phy-mode = "rgmii-id";
	phy-handle = <&ethphy1>;
	phy-reset-gpios = <&gpio2 2 GPIO_ACTIVE_LOW>;
	phy-reset-duration = <20>;
	nvmem-cells = <&eth_mac2>;
	nvmem-cell-names = "mac-address";
	nvmem_macaddr_swap;
	status = "okay";

	mdio {
		#address-cells = <1>;
		#size-cells = <0>;

		ethphy1: ethernet-phy@2 {
			compatible = "ethernet-phy-ieee802.3-c22";
			reg = <2>;
			micrel,led-mode = <0>;
		};
	};
};

&gpio2 {
	rs232_uart_sel {
		gpio-hog;
		gpios = <15 GPIO_ACTIVE_LOW>;
		output-low;
		line-name = "rs232_uart_sel";
	};
};

&gpio4 {
	rs485_cm_port_uart_sel_1 {
		gpio-hog;
		gpios = <9 GPIO_ACTIVE_LOW>;
		output-low;
		line-name = "rs485_cmport1_uartsel";
	};

	rs485_cm_port_uart_sel_2 {
		gpio-hog;
		gpios = <14 GPIO_ACTIVE_LOW>;
		output-low;
		line-name = "rs485_cmport2_uartsel";
	};
};

&i2c1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c1>;
	clock-frequency = <100000>;
	status = "okay";

	rtc: rtc@68 {
		compatible = "st,m41t82";
		reg = <0x68>;
	};

	codec: nau8822@1a {
		compatible = "nuvoton,nau8822";
		reg = <0x1a>;
		clocks = <&clks IMX6SX_CLK_AUDIO>;
		#sound-dai-cells = <0>;
	};
};

&i2c2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c2>;
	clock-frequency = <1000000>;
	status = "okay";

	eeeprom: eeeprom@52 {
		compatible = "microchip,24lc32ac", "atmel,24c32";
		reg = <0x52>;
		page-size = <32>;
	};
};

&i2c3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c3>;
	clock-frequency = <400000>;
	status = "okay";

	gpio_exp_20: gpio@20 {
		compatible = "ti,tca6416";
		reg = <0x20>;
		#gpio-cells = <2>;
		gpio-controller;
		interrupt-controller;
		interrupt-parent = <&gpio3>;
		interrupts = <0 IRQ_TYPE_EDGE_FALLING>;
		gpio-line-names =
			"port1_3v3_pwr_ctl", "port2_3v3_pwr_ctl",
			"common_port1_nrst", "common_port2_nrst",
			"board_id_1", "board_id_2", "board_id_3",
			"board_id_4", "lte_igt", "lte_radio_usb_ctrl",
			"lte_pwr_en", "lte_emergency_off", "lte_uart_dtr",
			"lte_vdd5v_en",	"cam_1v8_en", "cam_2v8_en";
	};

	led_expander: led-controller@21 {
		compatible = "ti,tca6408";
		reg = <0x21>;
		vcc-supply = <&reg_vdd_3v3>;
		gpio-controller;
		#gpio-cells = <2>;
	};
};

&i2c4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c4>;
	clock-frequency = <400000>;
	status = "okay";

	ov5640: camera@3c {
		compatible = "ovti,ov5640";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_ov5640>;
		reg = <0x3c>;
		clocks = <&clks IMX6SX_CLK_CSI>;
		clock-names = "csi_mclk";
		DOVDD-supply = <&reg_cam_1v8>; /* 1.8v */
		AVDD-supply = <&reg_cam_2v8>;  /* 2.8v */
		DVDD-supply = <&reg_cam_1v8>;  /* 1.8v */
		pwn-gpios = <&gpio3 18 GPIO_ACTIVE_HIGH>;
		rst-gpios = <&gpio3 17 GPIO_ACTIVE_LOW>;
		csi_id = <0>;
		mclk = <24000000>;
		mclk_source = <0>;
		rotation = <180>;

		port {
			/* Parallel bus endpoint */
			ov5640_ep: endpoint {
				remote-endpoint = <&csi1_ep>;
				bus-width = <8>;
				data-shift = <2>; /* lines 9:2 are used */
				hsync-active = <0>;
				vsync-active = <0>;
				pclk-sample = <1>;
			};
		};
	};
};

&ocotp {
	eth_mac1: mac-address@88 {
		reg = <0x88 6>;
	};

	eth_mac2: mac-address@8c {
		reg = <0x8c 6>;
	};
};

&pwm4 {
	#pwm-cells = <2>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm4>;
	status = "okay";
};

&pxp {
	status = "okay";
};

&qspi2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_qspi2>;
	status = "disabled";

	flash0: w25q128@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "winbond,w25q128", "jedec,spi-nor";
		spi-max-frequency = <15625000>;
		spi-rx-bus-width = <4>;
		spi-tx-bus-width = <4>;
		reg = <0>;
	};
};

&snvs_poweroff {
	status = "okay";
};

&ssi2 {
	status = "okay";
};

&usbotg1 {
	vbus-supply = <&reg_usb_otg1_vbus>;

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usb_otg1_id>;
	srp-disable;
	hnp-disable;
	adp-disable;
	dr_mode = "otg";
	status = "okay";
};

&usbotg2 {
	pinctrl-names = "default";
	srp-disable;
	hnp-disable;
	adp-disable;
	dr_mode = "host";
	status = "okay";
};

&usbphy1 {
	fsl,tx-d-cal = <106>;
};

&usbphy2 {
	fsl,tx-d-cal = <106>;
};

/* Cortex-A9 Debug UART */
&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>;
	status = "okay";
};

/* UART For BT */
&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart2>;
	uart-has-rtscts;
	status = "okay";
};

/* UART For WWAN/Modem */
&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart3>;
	uart-has-rtscts;
	status = "okay";
};

/* UART For RS-485#P11*/
&uart4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart4>;
	rts-gpios = <&gpio2 0 GPIO_ACTIVE_LOW>;
	linux,rs485-enabled-at-boot-time;
	rs485-rx-during-tx;
	status = "okay";
};

/* UART For RS-485#P12*/
&uart5 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart5>;
	rts-gpios = <&gpio2 17 GPIO_ACTIVE_LOW>;
	linux,rs485-enabled-at-boot-time;
	rs485-rx-during-tx;
	status = "okay";
};

/* UART For TTL-232#P15/P19*/
&uart6 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart6>;
	status = "okay";
};

/* Wifi SDIO */
&usdhc2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc2>;
	vmmc-supply = <&reg_wifi_power>;
	vqmmc-supply = <&reg_wf_1v8>;
	bus-width = <4>;
	non-removable;
	keep-power-in-suspend;
	enable-sdio-wakeup;
	status = "okay";

	wifi@1 {
		compatible = "brcm,bcm4329-fmac";
		reg = <1>;
		interrupt-parent = <&gpio2>;
		interrupts = <6 IRQ_TYPE_EDGE_FALLING>;
		interrupt-names = "host-wake";
	};
};

&wdog1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_wdog>;
	fsl,ext-reset-output;
	status = "okay";
};

&iomuxc {
	imx6x-x6med35-som {
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_hog1 &pinctrl_board_id>;

		pinctrl_hog1: hoggrp-1 {
			fsl,pins = <
				MX6SX_PAD_USB_H_DATA__GPIO7_IO_10	0x83030
			>;
		};

		pinctrl_board_id: hoggrp-2 {
			fsl,pins = <
				MX6SX_PAD_LCD1_DATA00__GPIO3_IO_1	0x110b0
				MX6SX_PAD_LCD1_DATA01__GPIO3_IO_2	0x110b0
				MX6SX_PAD_LCD1_DATA02__GPIO3_IO_3	0x110b0
				MX6SX_PAD_LCD1_DATA23__GPIO3_IO_24	0x110b0
			>;
		};

		pinctrl_audmux: audmuxgrp {
			fsl,pins = <
				MX6SX_PAD_LCD1_ENABLE__AUDMUX_AUD3_TXC	0x130b0
				MX6SX_PAD_LCD1_VSYNC__AUDMUX_AUD3_TXFS	0x130b0
				MX6SX_PAD_LCD1_HSYNC__AUDMUX_AUD3_TXD	0x12098
				MX6SX_PAD_LCD1_RESET__AUDMUX_AUD3_RXD	0x130b0
				MX6SX_PAD_ENET1_MDIO__AUDMUX_MCLK	0x13098
			>;
		};

		pinctrl_enet1: enet1grp {
			fsl,pins = <
				MX6SX_PAD_ENET2_CRS__ENET1_MDIO		0xa0b1
				MX6SX_PAD_ENET2_COL__ENET1_MDC		0xa0b1

				MX6SX_PAD_RGMII1_TD0__ENET1_TX_DATA_0	0xa0b1
				MX6SX_PAD_RGMII1_TD1__ENET1_TX_DATA_1	0xa0b1
				MX6SX_PAD_RGMII1_TD2__ENET1_TX_DATA_2	0xa0b1
				MX6SX_PAD_RGMII1_TD3__ENET1_TX_DATA_3	0xa0b1
				MX6SX_PAD_RGMII1_TX_CTL__ENET1_TX_EN	0xa0b1
				MX6SX_PAD_RGMII1_TXC__ENET1_RGMII_TXC	0xa0b9

				MX6SX_PAD_RGMII1_RD0__ENET1_RX_DATA_0	0x3081
				MX6SX_PAD_RGMII1_RD1__ENET1_RX_DATA_1	0x3081
				MX6SX_PAD_RGMII1_RD2__ENET1_RX_DATA_2	0x3081
				MX6SX_PAD_RGMII1_RD3__ENET1_RX_DATA_3	0x3081
				MX6SX_PAD_RGMII1_RXC__ENET1_RX_CLK	0x3081
				MX6SX_PAD_RGMII1_RX_CTL__ENET1_RX_EN	0x3081

				/* phy reset */
				MX6SX_PAD_ENET1_RX_CLK__GPIO2_IO_4		0x10b0
			>;
		};

		pinctrl_rmii_enet1: rmiienet1grp {
			fsl,pins = <
				MX6SX_PAD_ENET2_CRS__ENET1_MDIO		0xa089
				MX6SX_PAD_ENET2_COL__ENET1_MDC		0xa089

				MX6SX_PAD_RGMII1_TD0__ENET1_TX_DATA_0   0xb099
				MX6SX_PAD_RGMII1_TD1__ENET1_TX_DATA_1   0xb099
				MX6SX_PAD_RGMII1_TX_CTL__ENET1_TX_EN	0xb099
				MX6SX_PAD_ENET1_TX_CLK__ENET1_REF_CLK1  0x4000b099

				MX6SX_PAD_RGMII1_RD0__ENET1_RX_DATA_0   0xb099
				MX6SX_PAD_RGMII1_RD1__ENET1_RX_DATA_1   0xb099
				MX6SX_PAD_RGMII1_RX_CTL__ENET1_RX_EN   	0xb099
				MX6SX_PAD_RGMII1_RXC__ENET1_RX_ER 	0xb099

				/* phy reset */
				MX6SX_PAD_ENET1_RX_CLK__GPIO2_IO_4 	0xb099
			>;
		};

		pinctrl_enet2: enet2grp {
			fsl,pins = <
				MX6SX_PAD_ENET1_CRS__ENET2_MDIO		0xa0b1
				MX6SX_PAD_ENET1_COL__ENET2_MDC		0xa0b1

				MX6SX_PAD_RGMII2_TD0__ENET2_TX_DATA_0	0xa0b1
				MX6SX_PAD_RGMII2_TD1__ENET2_TX_DATA_1	0xa0b1
				MX6SX_PAD_RGMII2_TD2__ENET2_TX_DATA_2	0xa0b1
				MX6SX_PAD_RGMII2_TD3__ENET2_TX_DATA_3	0xa0b1
				MX6SX_PAD_RGMII2_TX_CTL__ENET2_TX_EN	0xa0b1
				MX6SX_PAD_RGMII2_TXC__ENET2_RGMII_TXC	0xa0b9

				MX6SX_PAD_RGMII2_RD0__ENET2_RX_DATA_0	0x3081
				MX6SX_PAD_RGMII2_RD1__ENET2_RX_DATA_1	0x3081
				MX6SX_PAD_RGMII2_RD2__ENET2_RX_DATA_2	0x3081
				MX6SX_PAD_RGMII2_RD3__ENET2_RX_DATA_3	0x3081
				MX6SX_PAD_RGMII2_RXC__ENET2_RX_CLK	0x3081
				MX6SX_PAD_RGMII2_RX_CTL__ENET2_RX_EN	0x3081

				/* phy reset */
				MX6SX_PAD_ENET1_MDC__GPIO2_IO_2		0x10b0
			>;
		};

		pinctrl_rmii_enet2: rmiienet2grp {
			fsl,pins = <
				MX6SX_PAD_ENET1_CRS__ENET2_MDIO		0xa089
				MX6SX_PAD_ENET1_COL__ENET2_MDC		0xa089

				MX6SX_PAD_RGMII2_RD0__ENET2_RX_DATA_0	0xb099
				MX6SX_PAD_RGMII2_RD1__ENET2_RX_DATA_1	0xb099
				MX6SX_PAD_RGMII2_RX_CTL__ENET2_RX_EN	0xb099
				MX6SX_PAD_RGMII2_RXC__ENET2_RX_ER	0xb099

				MX6SX_PAD_RGMII2_TD0__ENET2_TX_DATA_0	0xb099
				MX6SX_PAD_RGMII2_TD1__ENET2_TX_DATA_1	0xb099
				MX6SX_PAD_RGMII2_TX_CTL__ENET2_TX_EN	0xb099
				MX6SX_PAD_ENET2_TX_CLK__ENET2_REF_CLK2	0x4000b099

				/* phy reset */
				MX6SX_PAD_ENET1_MDC__GPIO2_IO_2		0xb099
			>;
		};

		pinctrl_flexcan1: flexcan1grp {
			fsl,pins = <
				MX6SX_PAD_QSPI1B_DQS__CAN1_TX		0x1b020
				MX6SX_PAD_QSPI1A_SS1_B__CAN1_RX		0x1b020
			>;
		};

		pinctrl_flexcan2: flexcan2grp {
			fsl,pins = <
				MX6SX_PAD_QSPI1B_SS1_B__CAN2_RX		0x1b020
				MX6SX_PAD_QSPI1A_DQS__CAN2_TX		0x1b020
			>;
		};

		pinctrl_gpiokeys: gpiokeysgrp {
			fsl,pins = <
				MX6SX_PAD_GPIO1_IO11__GPIO1_IO_11		0xf000
				MX6SX_PAD_NAND_RE_B__GPIO4_IO_12		0xf000
			>;
		};

		pinctrl_i2c1: i2c1grp {
			fsl,pins = <
				MX6SX_PAD_GPIO1_IO01__I2C1_SDA		0x4001b8b1
				MX6SX_PAD_GPIO1_IO00__I2C1_SCL		0x4001b8b1
			>;
		};

		pinctrl_i2c3: i2c3grp {
			fsl,pins = <
				MX6SX_PAD_KEY_ROW4__I2C3_SDA		0x4001b8b1
				MX6SX_PAD_KEY_COL4__I2C3_SCL		0x4001b8b1
			>;
		};

		pinctrl_i2c4: i2c4grp {
			fsl,pins = <
				MX6SX_PAD_SD3_DATA1__I2C4_SDA		0x4001b8b1
				MX6SX_PAD_SD3_DATA0__I2C4_SCL		0x4001b8b1
			>;
		};

		pinctrl_mqs: mqsgrp {
			fsl,pins = <
				MX6SX_PAD_SD2_CLK__MQS_RIGHT 0x120b0
				MX6SX_PAD_SD2_CMD__MQS_LEFT  0x120b0
			>;
		};

		pinctrl_ov5640: ov5640grp {
			fsl,pins = <
				MX6SX_PAD_LCD1_DATA07__CSI1_MCLK		0x110b0
				MX6SX_PAD_LCD1_DATA06__CSI1_PIXCLK		0x110b0
				MX6SX_PAD_LCD1_DATA04__CSI1_VSYNC		0x110b0
				MX6SX_PAD_LCD1_DATA05__CSI1_HSYNC		0x110b0
				MX6SX_PAD_LCD1_DATA15__CSI1_DATA_2		0x110b0
				MX6SX_PAD_LCD1_DATA14__CSI1_DATA_3		0x110b0
				MX6SX_PAD_LCD1_DATA13__CSI1_DATA_4		0x110b0
				MX6SX_PAD_LCD1_DATA12__CSI1_DATA_5		0x110b0
				MX6SX_PAD_LCD1_DATA11__CSI1_DATA_6		0x110b0
				MX6SX_PAD_LCD1_DATA10__CSI1_DATA_7		0x110b0
				MX6SX_PAD_LCD1_DATA09__CSI1_DATA_8		0x110b0
				MX6SX_PAD_LCD1_DATA08__CSI1_DATA_9		0x110b0

				MX6SX_PAD_LCD1_DATA16__GPIO3_IO_17		0x80000000
				MX6SX_PAD_LCD1_DATA17__GPIO3_IO_18		0x80000000
			>;
		};

		pinctrl_pwm4: pwm4grp {
			fsl,pins = <
				MX6SX_PAD_GPIO1_IO13__PWM4_OUT 0x110b0
			>;
		};

		pinctrl_qspi2: qspi2grp {
			fsl,pins = <
				MX6SX_PAD_NAND_WP_B__QSPI2_A_DATA_0     0x70f1
				MX6SX_PAD_NAND_READY_B__QSPI2_A_DATA_1  0x70f1
				MX6SX_PAD_NAND_CE0_B__QSPI2_A_DATA_2    0x70f1
				MX6SX_PAD_NAND_CE1_B__QSPI2_A_DATA_3    0x70f1
				MX6SX_PAD_NAND_CLE__QSPI2_A_SCLK        0x70f1
				MX6SX_PAD_NAND_ALE__QSPI2_A_SS0_B       0x70f1
			>;
		};

		pinctrl_vcc_sd3: vccsd3grp {
			fsl,pins = <
				MX6SX_PAD_KEY_COL1__GPIO2_IO_11		0x17059
			>;
		};

		pinctrl_sai1: sai1grp {
			fsl,pins = <
				MX6SX_PAD_CSI_DATA00__SAI1_TX_BCLK	0x130b0
				MX6SX_PAD_CSI_DATA01__SAI1_TX_SYNC	0x130b0
				MX6SX_PAD_CSI_HSYNC__SAI1_TX_DATA_0	0x120b0
				MX6SX_PAD_CSI_VSYNC__SAI1_RX_DATA_0	0x130b0
				MX6SX_PAD_CSI_PIXCLK__AUDMUX_MCLK	0x130b0
			>;
		};

		pinctrl_uart1: uart1grp {
			fsl,pins = <
				MX6SX_PAD_GPIO1_IO04__UART1_DCE_TX	0x1b0b1
				MX6SX_PAD_GPIO1_IO05__UART1_DCE_RX	0x1b0b1
			>;
		};

		pinctrl_uart2: uart2grp {
			fsl,pins = <
				MX6SX_PAD_GPIO1_IO06__UART2_DCE_TX	0x1b0b1
				MX6SX_PAD_GPIO1_IO07__UART2_DCE_RX	0x1b0b1
				MX6SX_PAD_GPIO1_IO08__UART2_RTS_B	0x1b0b1
				MX6SX_PAD_GPIO1_IO09__UART2_CTS_B	0x1b0b1
			>;
		};

		pinctrl_uart3: uart3grp {
			fsl,pins = <
				MX6SX_PAD_SD3_DATA4__UART3_RX	0x1b0b1
				MX6SX_PAD_SD3_DATA5__UART3_TX	0x1b0b1
				MX6SX_PAD_SD3_DATA6__UART3_RTS_B	0x1b0b1
				MX6SX_PAD_SD3_DATA7__UART3_CTS_B	0x1b0b1
			>;
		};

		pinctrl_uart4: uart4grp {
			fsl,pins = <
				MX6SX_PAD_SD3_CMD__UART4_DCE_TX	0x1b0b1
				MX6SX_PAD_SD3_DATA3__UART4_DCE_RX	0x1b0b1
				MX6SX_PAD_SD3_CLK__UART4_DCE_CTS	0x1b0b1
				MX6SX_PAD_SD3_DATA2__UART4_DCE_RTS	0x1b0b1
				/* RS485_CM_PORT_UART_SEL#2 */
				MX6SX_PAD_NAND_WE_B__GPIO4_IO_14	0x0b0b9
			>;
		};

		pinctrl_uart5: uart5grp {
			fsl,pins = <
				MX6SX_PAD_KEY_ROW3__UART5_DCE_RX	0x1b0b1
				MX6SX_PAD_KEY_COL3__UART5_DCE_TX	0x1b0b1
				MX6SX_PAD_KEY_ROW2__UART5_DCE_CTS	0x1b0b1
				MX6SX_PAD_KEY_COL2__UART5_DCE_RTS	0x1b0b1
				/* RS485_CM_PORT_UART_SEL#1 */
				MX6SX_PAD_NAND_DATA05__GPIO4_IO_9	0x0b0b9
			>;
		};

		pinctrl_uart6: uart6grp {
			fsl,pins = <
				MX6SX_PAD_KEY_COL1__UART6_DCE_TX	0x1b0b1
				MX6SX_PAD_KEY_ROW1__UART6_DCE_RX	0x1b0b1
				/* RS232_UART_SEL */
				MX6SX_PAD_KEY_ROW0__GPIO2_IO_15		0x0b0b9
			>;
		};

		pinctrl_usb_cc: usbccgrp {
			fsl,pins = <
				MX6SX_PAD_LCD1_DATA22__GPIO3_IO_23	0x10b0
			>;
		};

		pinctrl_usb_vbus: usbvbusgrp {
			fsl,pins = <
				MX6SX_PAD_QSPI1A_DATA2__GPIO4_IO_18	0x10b0
			>;
		};

		pinctrl_usb_otg1_id: usbotg1idgrp {
			fsl,pins = <
				MX6SX_PAD_GPIO1_IO10__ANATOP_OTG1_ID	0x17059
				MX6SX_PAD_QSPI1A_DATA3__USB_OTG1_OC		0x17059
			>;
		};

		pinctrl_usdhc2: usdhc2grp {
			fsl,pins = <
				MX6SX_PAD_SD2_CMD__USDHC2_CMD		0x17059
				MX6SX_PAD_SD2_CLK__USDHC2_CLK		0x10059
				MX6SX_PAD_SD2_DATA0__USDHC2_DATA0	0x17059
				MX6SX_PAD_SD2_DATA1__USDHC2_DATA1	0x17059
				MX6SX_PAD_SD2_DATA2__USDHC2_DATA2	0x17059
				MX6SX_PAD_SD2_DATA3__USDHC2_DATA3	0x17059
				/* wifi power GPIO */
				MX6SX_PAD_KEY_COL0__GPIO2_IO_10		0x17059
			>;
		};

		pinctrl_wdog: wdoggrp {
			fsl,pins = <
				MX6SX_PAD_GPIO1_IO03__WDOG2_WDOG_B 0x30b0
			>;
		};
	};
};
