// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright (C) 2021 Shrirang Bagul <shrirang.bagul@canonical.com>
 */

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include "imx6sx.dtsi"

/ {
	memory@80000000 {
		device_type = "memory";
		linux,usable-memory = <0x80000000 0x1ff00000>;
	};

	ocram_optee {
		compatible = "fsl,optee-lpm-sram";
		reg = <0x008f8000 0x4000>;
		overw_reg = <&ocram 0x00904000 0x1000>,
					<&ocram 0x00905000 0x1b000>,
					<&ocram_s 0x00900000 0x4000>;
		overw_clock = <&ocram_s &clks IMX6SX_CLK_OCRAM>;
	};

	pxp_v4l2_out {
		compatible = "fsl,imx6sx-pxp-v4l2", "fsl,imx6sl-pxp-v4l2";
		status = "okay";
	};

	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		linux,cma {
			compatible = "shared-dma-pool";
			reusable;
			size = <0x8000000>;
			linux,cma-default;
		};

		m4_reserved {
			reg = <0x9ff00000 0x10000>;
			no-map;
		};

		rpmsg_reserved {
			reg = <0xbff00000 0x10000>;
			no-map;
		};
	};

	reg_vdd_3v3: regulator-vdd-3v3 {
		compatible = "regulator-fixed";
		regulator-always-on;
		regulator-name = "vdd_3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};

	reg_vdd_1v8: regulator-vdd-1v8 {
		compatible = "regulator-fixed";
		regulator-always-on;
		regulator-name = "vdd_1v8";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
	};

	reg_vdd_1v38: regulator-vdd-1v38 {
		compatible = "regulator-fixed";
		regulator-always-on;
		regulator-name = "vdd_1v38";
		regulator-min-microvolt = <1380000>;
		regulator-max-microvolt = <1380000>;
	};

	rpmsg: rpmsg {
		compatible = "fsl,imx6sx-rpmsg";
		vdev-nums = <1>;
		reg = <0xbff00000 0x10000>;
		status = "okay";
	};

	soc {
		caam_sm: caam-sm@100000 {
			compatible = "fsl,imx6q-caam-sm";
			reg = <0x100000 0x8000>;
		};
	};
};

&aips1 {
	irq_sec_vio: caam_secvio {
		compatible = "fsl,imx6q-caam-secvio";
		interrupts = <GIC_SPI 20 IRQ_TYPE_LEVEL_HIGH>;
		jtag-tamper = "disabled";
		watchdog-tamper = "enabled";
		internal-boot-tamper = "enabled";
		external-pin-tamper = "disabled";
	};

	caam_snvs: caam-snvs@20cc000 {
		compatible = "fsl,imx6q-caam-snvs";
		reg = <0x20cc000 0x4000>;
	};
};

&aips2 {
	qspi_m4: qspi-m4 {
		compatible = "fsl,imx6sx-qspi-m4-restore";
		reg = <0x021e4000 0x4000>;
		status = "disabled";
	};
};

&aips3 {
	sema4: sema4@02290000 { /* sema4 */
		compatible = "fsl,imx6sx-sema4";
		reg = <0x02290000 0x4000>;
		interrupts = <GIC_SPI 116 IRQ_TYPE_LEVEL_HIGH>;
		status = "okay";
	};

	mu: mailbox@02294000 { /* mu */
		compatible = "fsl,imx6sx-mu";
		reg = <0x02294000 0x4000>;
		interrupts = <GIC_SPI 90 IRQ_TYPE_LEVEL_HIGH>;
		status = "okay";
	};
};

&gpc {
	fsl,ldo-bypass = <1>;
};

&i2c2 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c2>;
	status = "okay";

	ext_crypto: extcrypto@60 {
		compatible = "atmel,atecc508a";
		reg = <0x60>;
	};
};

&ocram {
	reg = <0x00901000 0xf000>;
};

&reg_vdd1p1 {
	vin-supply = <&reg_vdd_3v3>;
};

&reg_vdd2p5 {
	vin-supply = <&reg_vdd_3v3>;
};

&reg_arm {
	vin-supply = <&reg_vdd_1v38>;
	regulator-allow-bypass;
};

&reg_soc {
	vin-supply = <&reg_vdd_1v38>;
	regulator-allow-bypass;
};

&usdhc4 {
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc4>;
	pinctrl-1 = <&pinctrl_usdhc4_100mhz>;
	pinctrl-2 = <&pinctrl_usdhc4_200mhz>;
	bus-width = <8>;
	non-removable;
	no-1-8-v;
	vmmc-supply = <&reg_vdd_3v3>;
	keep-power-in-suspend;
	status = "okay";
};

&iomuxc {
	imx6x-x6med35-som {
		pinctrl_i2c2: i2c2grp {
			fsl,pins = <
				MX6SX_PAD_QSPI1B_DATA2__I2C2_SDA		0x4001b8b1
				MX6SX_PAD_QSPI1B_DATA3__I2C2_SCL		0x4001b8b1
			>;
		};

		pinctrl_usdhc4: usdhc4grp {
			fsl,pins = <
				MX6SX_PAD_SD4_CMD__USDHC4_CMD		0x17059
				MX6SX_PAD_SD4_CLK__USDHC4_CLK		0x10059
				MX6SX_PAD_SD4_DATA0__USDHC4_DATA0	0x17059
				MX6SX_PAD_SD4_DATA1__USDHC4_DATA1	0x17059
				MX6SX_PAD_SD4_DATA2__USDHC4_DATA2	0x17059
				MX6SX_PAD_SD4_DATA3__USDHC4_DATA3	0x17059
				MX6SX_PAD_SD4_DATA4__USDHC4_DATA4	0x17059
				MX6SX_PAD_SD4_DATA5__USDHC4_DATA5	0x17059
				MX6SX_PAD_SD4_DATA6__USDHC4_DATA6	0x17059
				MX6SX_PAD_SD4_DATA7__USDHC4_DATA7	0x17059
			>;
		};

		pinctrl_usdhc4_100mhz: usdhc4grp-100mhz {
			fsl,pins = <
				MX6SX_PAD_SD4_CMD__USDHC4_CMD		0x170b9
				MX6SX_PAD_SD4_CLK__USDHC4_CLK		0x100b9
				MX6SX_PAD_SD4_DATA0__USDHC4_DATA0	0x170b9
				MX6SX_PAD_SD4_DATA1__USDHC4_DATA1	0x170b9
				MX6SX_PAD_SD4_DATA2__USDHC4_DATA2	0x170b9
				MX6SX_PAD_SD4_DATA3__USDHC4_DATA3	0x170b9
				MX6SX_PAD_SD4_DATA4__USDHC4_DATA4	0x170b9
				MX6SX_PAD_SD4_DATA5__USDHC4_DATA5	0x170b9
				MX6SX_PAD_SD4_DATA6__USDHC4_DATA6	0x170b9
				MX6SX_PAD_SD4_DATA7__USDHC4_DATA7	0x170b9
			>;
		};

		pinctrl_usdhc4_200mhz: usdhc4grp-200mhz {
			fsl,pins = <
				MX6SX_PAD_SD4_CMD__USDHC4_CMD		0x170f9
				MX6SX_PAD_SD4_CLK__USDHC4_CLK		0x100f9
				MX6SX_PAD_SD4_DATA0__USDHC4_DATA0	0x170f9
				MX6SX_PAD_SD4_DATA1__USDHC4_DATA1	0x170f9
				MX6SX_PAD_SD4_DATA2__USDHC4_DATA2	0x170f9
				MX6SX_PAD_SD4_DATA3__USDHC4_DATA3	0x170f9
				MX6SX_PAD_SD4_DATA4__USDHC4_DATA4	0x170f9
				MX6SX_PAD_SD4_DATA5__USDHC4_DATA5	0x170f9
				MX6SX_PAD_SD4_DATA6__USDHC4_DATA6	0x170f9
				MX6SX_PAD_SD4_DATA7__USDHC4_DATA7	0x170f9
			>;
		};
	};
};
